@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #00486D;
  --surface: #FFFFFF;
  --text-primary: #FFFFFF;
  --text-secondary: #E0E0E0;
}

html,
body {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  color: var(--text-primary);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


